ul
  li
    button(ng-click="vm.filterBy('')") All Jobs
  li
    button(ng-click="vm.filterBy('Full time')") Full time
  li
    button(ng-click="vm.filterBy('Partial')") Partial
  li
    button(ng-click="vm.filterBy('Freelance')") Freelance
  li
    button(ng-click="vm.filterBy('Eventual')") Eventual
    
a(href='/jobs/new') New Job

.wrapper      
  .job(ng-repeat='job in vm.jobs | filter: vm.filter')
    .job--info
      a(href='/jobs/{{ job._id }}')
        h2.job--title {{ job.title }}
      ul.job--details 
        li {{ job.company }}
        li Wherever
        li {{ job.createAt | date : 'MMM dd' }}
    .job--category
      p {{ job._category.name }}
