.wrapper
  h2.job--title {{ vm.job.title }}
  p.job--company {{ vm.job.company }}
  p.job--category {{ vm.job._category.name }}
  p.job--desc {{ vm.job.desc }}
  a.job--url(href='{{ vm.job.url }}') Apply
  
  a(ng-href='/jobs/{{ vm.job._id }}/edit') Edit
  a(ng-href='#', ng-click='vm.deleteJob()') Delete
